/* Define constants */
$white: #ffffff;
$black: #000000;
$grey: #636363;

$salmon: #ff5a5f;

$primary: #b2e1e8;
$secondary: #98c4e0;
$purple: #8b71b3;
$subtle: #eaeaea;

$arvo: 'Arvo', monospace;
$open-sans: 'Open Sans', sans-serif;

$h1: 2.5em;
$h2: 1.2em;

/* Main style */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  section {
    width: 100%;
    position: relative;
  }

  div {
    position: relative;
  }
}

/* Common classes */
.salmon {
  color: $salmon;
}

.grey {
  opacity: 0.2;
}

.bold {
  font-weight: 400;
}

.hidden {
  display: none;
}

/* Splash Section */
section#splash {
  height: 100vh;
  background: url('../assets/images/hero-2.jpg');
  background-size: cover;
  background-position: center;

  .splash-main {
    display: flex;
    align-items: center;
    height: 90px;
    background-color: $white;

    .heading {
      width: 20%;
      text-align: center;

      h1 {
        font-family: $arvo;
        font-size: 40px;
        font-weight: 300;
        margin: 0px;
      }

      p {
        font-family: $open-sans;
        font-size: 16px;
        margin: 0;
      }
    }

    #navbar {
      width: 70%;
      font-family: $open-sans;

      a {
        margin: 0 20px;
        padding: 0 6px;
        text-decoration: none;
        color: $black;
        font-size: 14px;

        &:hover {
          border-bottom: 4px solid rgba(255,90,95,0.3);
        }
      }
    }

    #team {
      width: 10%;
      font-family: $open-sans;

      a {
        margin: 0 20px;
        padding: 0 6px;
        text-decoration: none;
        color: $black;
        font-size: 14px;

        &:hover {
          border-bottom: 4px solid rgba(255,90,95,0.3);
        }
      }
    }
  }

  #slogan {
    position: absolute;
    top: 110px;
    right: 50px;
    text-align: right;
    border-right: 7px solid rgba(255,90,95,0.5);
    padding-right: 20px;

    p {
      font-family: $open-sans;
      font-size: 25px;
      font-weight: 300;
      line-height: 0.5;
      color: $white;

    }
  }

  #registration-link {
    position: absolute;
    bottom: 20px;
    left: 30px;

    p {
      font-family: $arvo;
      font-size: 17px;
      font-weight: 300;
      line-height: 0.5;
      color: #3a3a3a;

      a {
        color: $salmon;
        text-decoration: none;
      }
    }
  }

  #main-banner {
    position: absolute;
    bottom: 0;
  }
}

section#about {
  #about-main {
    padding: 50px 150px 0px 150px;

    h2 {
      font-family: $arvo;
      font-size: 40px;
      font-weight: 300;
    }

    p {
      font-family: $open-sans;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.2;
    }
  }

  #about-statistics {
    text-align: center;
    padding: 0 0 80px 0;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .statistic {
      display: flex;
      flex-direction: column;

      font-family: $arvo;
      padding: 50px;

      .number {
        font-size: 35px;
      }

      p {
        margin: 0;
        font-size: 18px;
      }
    }
  }
}

section#register {
  background-color: #4f4f4f;
  width: 100%;
  margin: 0 auto;

  #register-main {
    padding: 50px 150px 80px 150px;

    h2 {
      font-family: $arvo;
      font-size: 40px;
      font-weight: 300;
      color: white;
    }

    p {
      font-family: $open-sans;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.2;
      color: white;
    }

    #columns {
      display: flex;

      .column {
        width: 33.33%;
        padding: 0 15px;
        text-align: center;

        .title {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 20px;
        }

        div {
          a {
            font-family: $arvo;
            color: white;
            text-decoration: none;
            padding-bottom: 4px;
            border-bottom: 1px dashed $white;

            line-height: 50px;

            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;

            &:hover {
              color: #7a7a7a;
            }
          }
        }
      }
    }
  }
}

section#banner {
  margin: 0 auto;

  #banner-main {
    padding: 20px;
    text-align: center;
    color: $salmon;

    a {
      font-size: 24px;
      font-family: $arvo;
      color: $salmon;
      text-decoration: none;
      padding-bottom: 4px;
      border-bottom: 1px dashed $salmon;

      &:hover {
        color: #ff383e;
      }
    }
  }
}

section#colorblock {
  background-color: #4f4f4f;
  height: 40px;
  margin: 0 auto;
}

section#programming {
  margin: 0 auto;

  #programming-main {
    padding: 50px 150px 80px 150px;

    font-family: $open-sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;

    h2 {
      font-family: $arvo;
      font-size: 40px;
      font-weight: 300;
    }

    h3 {
      font-family: $arvo;
      font-size: 20px;
      font-weight: 300;
      color: $salmon;
    }

    #programming-sections {
      display: flex;

      .section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        text-align: center;
        padding: 0 20px;

        ul {
          list-style-type: none;
          padding: 0;
        }
      }
    }
  }
}

section#photo-break {
  margin: 0 auto;
  padding-top: 4px;

  div {
    text-align: center;

    img {
      width: 33%;
    }
  }
}

section#sponsors {
  background-color: #4f4f4f;
  margin: 0 auto;

  #sponsors-main {
    padding: 50px 150px 80px 150px;

    h2 {
      font-family: $arvo;
      font-size: 40px;
      font-weight: 300;
      color: white;
    }

    p {
      font-family: $open-sans;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.2;
      color: white;

      margin-bottom: 40px;
    }

    .logos {
      text-align: center;
      margin: 30px 0;

      .filter-white {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
        transition: .25s;
      }

      .filter-white:hover {
        -webkit-filter: brightness(1);
      }

      img {
        padding: 0 30px;
      }
    }

    #silver {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #bronze {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

section#faq {
  margin: 0 auto;

  #faq-main {
    padding: 50px 150px 80px 150px;

    h2 {
      font-family: $arvo;
      font-size: 40px;
      font-weight: 300;
    }

    #faq-questions {
      display: flex;

      font-family: $open-sans;
      font-weight: 300;
      text-align: center;

      #questions-left {
        padding-right: 20px;
      }

      #questions-right {
        padding-left: 20px;
      }

      .question {
        padding: 10px 0;

        a {
          text-decoration: none;
        }
      }

      .bold {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}

footer {
  height: 50px;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #4f4f4f;
  color: $white;

  #footer-brand {
    float: left;
    font-family: $open-sans;
    font-size: 15px;
    font-weight: 200;
  }

  #footer-contact {
    float: right;
    font-family: $open-sans;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
  }
}
