/* Define constants */
$white: #ffffff;
$black: #000000;
$grey: #eaeaea;

$salmon: #ff5a5f;

$primary: #b2e1e8;
$secondary: #98c4e0;
$purple: #8b71b3;
$subtle: #eaeaea;

$arvo: 'Arvo', monospace;
$open-sans: 'Open Sans', sans-serif;

$h1: 2.5em;
$h2: 1.2em;

/* Main style */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $grey;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  cursor: default;

  section {
    width: 100%;
    position: relative;
  }

  div {
    position: relative;
  }
}

/* Common classes */
.salmon {
  color: $salmon;
}

.grey {
  opacity: 0.2;
}

.bold {
  font-weight: 400;
}

.hidden {
  display: none;
}

/* Navigation Bar */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 20px;
  text-align: center;

  font-family: $open-sans;
  color: $white;

  a {
    padding: 0 30px;
    color: $white;
    text-decoration: none;

    &:hover {
      color: $salmon;
    }
  }
}

/* Splash Section */
section#splash {
  height: 100%;
  background: url(../assets/images/cover.jpg);
  background-size: cover;
  background-position: center;

  .splash-main {
    margin: auto;
    padding-top: 30vh;
    color: $white;

    h1 {
      margin: 0;
      width: auto;
      font-family: $arvo;
      font-size: 110px;
      text-align: center;
      font-weight: 300;
    }

    p {
      font-family: $open-sans;
      font-size: 30px;
      text-align: center;
      font-weight: 200;
      letter-spacing: 1.5px;
    }

    hr {
      width: 300px;
      height: 1px;
      margin-top: -20px;
      margin-bottom: -20px;
      color: $white;
      background-color: $white;
      border: none;
    }
  }
}

section#about {
  background-color: white;
  width: 90%;
  margin: 0 auto;

  #about-main {
    padding: 80px 150px 80px 150px;

    h2 {
      font-family: $arvo;
      font-size: 40px;
      font-weight: 300;
    }

    p {
      font-family: $open-sans;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.2;
    }
  }

  #about-statistics {
    text-align: center;
    padding: 0 0 80px 0;

    p {
      display: inline;
      padding: 0 30px;

      font-family: $arvo;
      font-size: 18px;
    }
  }
}

section#photo-break {
  background-color: white;
  width: 90%;
  margin: 0 auto;

  div {
    text-align: center;

    img {
      width: 33%;
    }
  }
}

section#faq {
  background-color: white;
  width: 90%;
  margin: 0 auto;

  #faq-main {
    padding: 50px 150px 80px 150px;

    h2 {
      font-family: $arvo;
      font-size: 40px;
      font-weight: 300;
    }

    #faq-questions {
      display: flex;

      font-family: $open-sans;
      font-weight: 300;
      text-align: center;

      #questions-left {
        padding-right: 20px;
      }

      #questions-right {
        padding-left: 20px;
      }

      .question {
        padding: 10px 0;

        a {
          text-decoration: none;
        }
      }

      .bold {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}

footer {
  height: 80px;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $black;
  color: $white;

  #footer-brand {
    float: left;
    font-family: $arvo;
    font-size: 15px;
    font-weight: 300;
  }

  #footer-contact {
    float: right;
    font-family: $open-sans;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
  }
}
