/* Define constants */
$white: #ffffff;
$black: #000000;
$grey: #eaeaea;

$salmon: #ff5a5f;

$primary: #b2e1e8;
$secondary: #98c4e0;
$purple: #8b71b3;
$subtle: #eaeaea;

$arvo: 'Arvo', monospace;
$open-sans: 'Open Sans', sans-serif;

/* Splash Section */
section#splash {
  height: 90px;

  .splash-main {
    display: flex;
    align-items: center;

    .heading {
      width: 20%;
      padding: 10px 0 15px 0;
      text-align: center;

      h1 {
        font-family: $arvo;
        font-size: 40px;
        font-weight: 300;
        margin: 0px;
      }

      p {
        font-family: $open-sans;
        font-size: 16px;
        margin: 0;
      }
    }

    #navbar {
      width: 70%;
      font-family: $open-sans;

      a {
        margin: 0 20px;
        padding: 0 6px;
        text-decoration: none;
        color: $black;
        font-size: 14px;

        &:hover {
          border-bottom: 4px solid rgba(255,90,95,0.3);
        }
      }
    }

    #team {
      width: 10%;
      font-family: $open-sans;

      a {
        margin: 0 20px;
        padding: 0 6px;
        text-decoration: none;
        color: $salmon;
        font-size: 14px;
      }
    }
  }
}

/* Team Section */
section#team {
  margin: 0;
  padding: -20px 0 20px 0;
  background-color: white;

  #slogan {
    display: flex;
    justify-content: center;

    p {
      font-family: $open-sans;
      font-size: 25px;
      line-height: 0.5;
      margin-top: 35px;
      padding: 0 6px;
      border-bottom: 8px solid rgba(255,90,95,0.3);
      text-align: center;
    }
  }

  .row {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .member {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 20px;

      img {
        width: 150px;
        margin-top: 30px;
        margin-bottom: 10px;
      }

      p {
        font-family: $open-sans;
        color: $black;
        font-size: 14px;
        margin: 0;
      }

      .head {
        color: $salmon;
      }
    }
  }
}