/* Define constants */
$white: #ffffff;
$black: #000000;
$grey: #eaeaea;

$salmon: #ff5a5f;

$primary: #b2e1e8;
$secondary: #98c4e0;
$purple: #8b71b3;
$subtle: #eaeaea;

$arvo: 'Arvo', monospace;
$open-sans: 'Open Sans', sans-serif;

/* Team Section */
section#team {
  background-color: white;
  width: 100%;

  #header {
    h1 {
      font-family: $arvo;
      font-size: 25px;
      font-weight: 300;
      text-align: center;
    }
  }

  #team-main {
    /*padding: 80px 150px 75px 150px;*/

    h2 {
      font-family: $arvo;
      font-size: 40px;
      font-weight: 300;
    }

    p {
      font-family: $open-sans;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.2;
    }
  }
}