/* Define constants */
/* Main style */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #eaeaea;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  cursor: default; }
  html section, body section {
    width: 100%;
    position: relative; }
  html div, body div {
    position: relative; }

/* Common classes */
.salmon {
  color: #ff5a5f; }

.grey {
  opacity: 0.2; }

.bold {
  font-weight: 400; }

.hidden {
  display: none; }

/* Navigation Bar */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #ffffff; }
  #navbar a {
    padding: 0 30px;
    color: #ffffff;
    text-decoration: none; }
    #navbar a:hover {
      color: #ff5a5f; }

/* Splash Section */
section#splash {
  height: 100%;
  background: url(../assets/images/cover.jpg);
  background-size: cover;
  background-position: center; }
  section#splash .splash-main {
    margin: auto;
    padding-top: 30vh;
    color: #ffffff; }
    section#splash .splash-main h1 {
      margin: 0;
      width: auto;
      font-family: "Arvo", monospace;
      font-size: 110px;
      text-align: center;
      font-weight: 300; }
    section#splash .splash-main p {
      font-family: "Open Sans", sans-serif;
      font-size: 30px;
      text-align: center;
      font-weight: 200;
      letter-spacing: 1.5px; }
    section#splash .splash-main hr {
      width: 300px;
      height: 1px;
      margin-top: -20px;
      margin-bottom: -20px;
      color: #ffffff;
      background-color: #ffffff;
      border: none; }

section#about {
  background-color: white;
  width: 90%;
  margin: 0 auto; }
  section#about #about-main {
    padding: 50px 150px 30px 150px; }
    section#about #about-main h2 {
      font-family: "Arvo", monospace;
      font-size: 40px;
      font-weight: 300; }
    section#about #about-main p {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.2; }
  section#about #about-statistics {
    text-align: center;
    padding: 0 0 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    section#about #about-statistics .statistic {
      display: flex;
      flex-direction: column;
      font-family: "Arvo", monospace;
      padding: 50px; }
      section#about #about-statistics .statistic .number {
        font-size: 35px; }
      section#about #about-statistics .statistic p {
        margin: 0;
        font-size: 18px; }

section#register {
  background-color: #4f4f4f;
  width: 90%;
  margin: 0 auto; }
  section#register #register-main {
    padding: 50px 150px 80px 150px; }
    section#register #register-main h2 {
      font-family: "Arvo", monospace;
      font-size: 40px;
      font-weight: 300;
      color: white; }
    section#register #register-main p {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.2;
      color: white; }
    section#register #register-main #columns {
      display: flex; }
      section#register #register-main #columns .column {
        width: 33.33%;
        padding: 0 15px;
        text-align: center; }
        section#register #register-main #columns .column .title {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 20px; }
        section#register #register-main #columns .column div a {
          font-family: "Arvo", monospace;
          color: white;
          text-decoration: none;
          padding-bottom: 4px;
          border-bottom: 1px dashed #ffffff;
          line-height: 50px;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }
          section#register #register-main #columns .column div a:hover {
            color: #7a7a7a; }

section#banner {
  /*background-color: #fffdf7;*/
  background-color: white;
  width: 90%;
  margin: 0 auto; }
  section#banner #banner-main {
    padding: 20px;
    text-align: center;
    color: #ff5a5f; }
    section#banner #banner-main a {
      font-size: 24px;
      font-family: "Arvo", monospace;
      color: #ff5a5f;
      text-decoration: none;
      padding-bottom: 4px;
      border-bottom: 1px dashed #ff5a5f; }
      section#banner #banner-main a:hover {
        color: #ff383e; }

section#colorblock {
  background-color: #4f4f4f;
  width: 90%;
  height: 40px;
  margin: 0 auto; }

section#photo-break {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  padding-top: 4px; }
  section#photo-break div {
    text-align: center; }
    section#photo-break div img {
      width: 33%; }

section#sponsors {
  background-color: #4f4f4f;
  width: 90%;
  margin: 0 auto; }
  section#sponsors #sponsors-main {
    padding: 50px 150px 80px 150px; }
    section#sponsors #sponsors-main h2 {
      font-family: "Arvo", monospace;
      font-size: 40px;
      font-weight: 300;
      color: white; }
    section#sponsors #sponsors-main p {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.2;
      color: white;
      margin-bottom: 40px; }
    section#sponsors #sponsors-main .logos {
      text-align: center;
      margin: 30px 0; }
      section#sponsors #sponsors-main .logos .filter-white {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
        transition: .25s; }
      section#sponsors #sponsors-main .logos .filter-white:hover {
        -webkit-filter: brightness(1); }
      section#sponsors #sponsors-main .logos img {
        padding: 0 30px; }
    section#sponsors #sponsors-main #silver {
      display: flex;
      justify-content: center;
      align-items: center; }
    section#sponsors #sponsors-main #bronze {
      display: flex;
      justify-content: center;
      align-items: center; }

section#faq {
  background-color: white;
  width: 90%;
  margin: 0 auto; }
  section#faq #faq-main {
    padding: 50px 150px 80px 150px; }
    section#faq #faq-main h2 {
      font-family: "Arvo", monospace;
      font-size: 40px;
      font-weight: 300; }
    section#faq #faq-main #faq-questions {
      display: flex;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      text-align: center; }
      section#faq #faq-main #faq-questions #questions-left {
        padding-right: 20px; }
      section#faq #faq-main #faq-questions #questions-right {
        padding-left: 20px; }
      section#faq #faq-main #faq-questions .question {
        padding: 10px 0; }
        section#faq #faq-main #faq-questions .question a {
          text-decoration: none; }
      section#faq #faq-main #faq-questions .bold {
        display: block;
        margin-bottom: 5px; }

footer {
  height: 80px;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #ffffff; }
  footer #footer-brand {
    float: left;
    font-family: "Arvo", monospace;
    font-size: 15px;
    font-weight: 300; }
  footer #footer-contact {
    float: right;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: right; }

/*# sourceMappingURL=main.css.map */
