/* Define constants */
/* Main style */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }
  html section, body section {
    width: 100%;
    position: relative; }
  html div, body div {
    position: relative; }

/* Common classes */
.salmon {
  color: #ff5a5f; }

.grey {
  opacity: 0.2; }

.bold {
  font-weight: 400; }

.hidden {
  display: none; }

/* Splash Section */
section#splash {
  height: 100vh;
  background: url("../assets/images/hero-2.jpg");
  background-size: cover;
  background-position: center; }
  section#splash .splash-main {
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #ffffff; }
    section#splash .splash-main .heading {
      width: 20%;
      text-align: center; }
      section#splash .splash-main .heading h1 {
        font-family: "Arvo", monospace;
        font-size: 40px;
        font-weight: 300;
        margin: 0px; }
      section#splash .splash-main .heading p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        margin: 0; }
    section#splash .splash-main #navbar {
      width: 70%;
      font-family: "Open Sans", sans-serif; }
      section#splash .splash-main #navbar a {
        margin: 0 20px;
        padding: 0 6px;
        text-decoration: none;
        color: #000000;
        font-size: 14px; }
        section#splash .splash-main #navbar a:hover {
          border-bottom: 4px solid rgba(255, 90, 95, 0.3); }
    section#splash .splash-main #team {
      width: 10%;
      font-family: "Open Sans", sans-serif; }
      section#splash .splash-main #team a {
        margin: 0 20px;
        padding: 0 6px;
        text-decoration: none;
        color: #000000;
        font-size: 14px; }
        section#splash .splash-main #team a:hover {
          border-bottom: 4px solid rgba(255, 90, 95, 0.3); }
  section#splash #slogan {
    position: absolute;
    top: 110px;
    right: 50px;
    text-align: right;
    border-right: 7px solid rgba(255, 90, 95, 0.5);
    padding-right: 20px; }
    section#splash #slogan p {
      font-family: "Open Sans", sans-serif;
      font-size: 25px;
      font-weight: 300;
      line-height: 0.5;
      color: #ffffff; }
  section#splash #registration-link {
    position: absolute;
    bottom: 20px;
    left: 30px; }
    section#splash #registration-link p {
      font-family: "Arvo", monospace;
      font-size: 17px;
      font-weight: 300;
      line-height: 0.5;
      color: #3a3a3a; }
      section#splash #registration-link p a {
        color: #ff5a5f;
        text-decoration: none; }
  section#splash #main-banner {
    position: absolute;
    bottom: 0; }

section#about #about-main {
  padding: 50px 150px 0px 150px; }
  section#about #about-main h2 {
    font-family: "Arvo", monospace;
    font-size: 40px;
    font-weight: 300; }
  section#about #about-main p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2; }
section#about #about-statistics {
  text-align: center;
  padding: 0 0 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  section#about #about-statistics .statistic {
    display: flex;
    flex-direction: column;
    font-family: "Arvo", monospace;
    padding: 50px; }
    section#about #about-statistics .statistic .number {
      font-size: 35px; }
    section#about #about-statistics .statistic p {
      margin: 0;
      font-size: 18px; }

section#register {
  background-color: #4f4f4f;
  width: 100%;
  margin: 0 auto; }
  section#register #register-main {
    padding: 50px 150px 80px 150px; }
    section#register #register-main h2 {
      font-family: "Arvo", monospace;
      font-size: 40px;
      font-weight: 300;
      color: white; }
    section#register #register-main p {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.2;
      color: white; }
    section#register #register-main #columns {
      display: flex; }
      section#register #register-main #columns .column {
        width: 33.33%;
        padding: 0 15px;
        text-align: center; }
        section#register #register-main #columns .column .title {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 20px; }
        section#register #register-main #columns .column div a {
          font-family: "Arvo", monospace;
          color: white;
          text-decoration: none;
          padding-bottom: 4px;
          border-bottom: 1px dashed #ffffff;
          line-height: 50px;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }
          section#register #register-main #columns .column div a:hover {
            color: #7a7a7a; }

section#banner {
  margin: 0 auto; }
  section#banner #banner-main {
    padding: 20px;
    text-align: center;
    color: #ff5a5f; }
    section#banner #banner-main a {
      font-size: 24px;
      font-family: "Arvo", monospace;
      color: #ff5a5f;
      text-decoration: none;
      padding-bottom: 4px;
      border-bottom: 1px dashed #ff5a5f; }
      section#banner #banner-main a:hover {
        color: #ff383e; }

section#colorblock {
  background-color: #4f4f4f;
  height: 40px;
  margin: 0 auto; }

section#programming {
  margin: 0 auto; }
  section#programming #programming-main {
    padding: 50px 150px 80px 150px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2; }
    section#programming #programming-main h2 {
      font-family: "Arvo", monospace;
      font-size: 40px;
      font-weight: 300; }
    section#programming #programming-main h3 {
      font-family: "Arvo", monospace;
      font-size: 20px;
      font-weight: 300;
      color: #ff5a5f; }
    section#programming #programming-main #programming-sections {
      display: flex; }
      section#programming #programming-main #programming-sections .section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        text-align: center;
        padding: 0 20px; }
        section#programming #programming-main #programming-sections .section ul {
          list-style-type: none;
          padding: 0; }

section#photo-break {
  margin: 0 auto;
  padding-top: 4px; }
  section#photo-break div {
    text-align: center; }
    section#photo-break div img {
      width: 33%; }

section#sponsors {
  background-color: #4f4f4f;
  margin: 0 auto; }
  section#sponsors #sponsors-main {
    padding: 50px 150px 80px 150px; }
    section#sponsors #sponsors-main h2 {
      font-family: "Arvo", monospace;
      font-size: 40px;
      font-weight: 300;
      color: white; }
    section#sponsors #sponsors-main p {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.2;
      color: white;
      margin-bottom: 40px; }
    section#sponsors #sponsors-main .logos {
      text-align: center;
      margin: 30px 0; }
      section#sponsors #sponsors-main .logos .filter-white {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
        transition: .25s; }
      section#sponsors #sponsors-main .logos .filter-white:hover {
        -webkit-filter: brightness(1); }
      section#sponsors #sponsors-main .logos img {
        padding: 0 30px; }
    section#sponsors #sponsors-main #silver {
      display: flex;
      justify-content: center;
      align-items: center; }
    section#sponsors #sponsors-main #bronze {
      display: flex;
      justify-content: center;
      align-items: center; }

section#faq {
  margin: 0 auto; }
  section#faq #faq-main {
    padding: 50px 150px 80px 150px; }
    section#faq #faq-main h2 {
      font-family: "Arvo", monospace;
      font-size: 40px;
      font-weight: 300; }
    section#faq #faq-main #faq-questions {
      display: flex;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      text-align: center; }
      section#faq #faq-main #faq-questions #questions-left {
        padding-right: 20px; }
      section#faq #faq-main #faq-questions #questions-right {
        padding-left: 20px; }
      section#faq #faq-main #faq-questions .question {
        padding: 10px 0; }
        section#faq #faq-main #faq-questions .question a {
          text-decoration: none; }
      section#faq #faq-main #faq-questions .bold {
        display: block;
        margin-bottom: 5px; }

footer {
  height: 50px;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f4f4f;
  color: #ffffff; }
  footer #footer-brand {
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 200; }
  footer #footer-contact {
    float: right;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: right; }

/*# sourceMappingURL=main.css.map */
